@model FSharpList<ReadModels.GrainSummary>
@{
    Layout = "_Layout";
    ViewData["Title"] = "Identify";
    ViewData["Subtitle"] = "These pollen grains remain taxonomically unidentified. Can you help?";
}

@section headerSection {
    <header>
        <div class="container">
            <h2 id="about">@ViewData["Title"]</h2>
            <p>@ViewData["Subtitle"]</p>
        </div>
    </header>
}

<h2>Unidentified Pollen Grains</h2>
<hr/>

@foreach (var grain in Model)
{
    <p><a href="@Url.Action("Identify", "Grain", new {id = @grain.Id})">@grain.Thumbnail</a></p>
}

<h4>Functions</h4>
<a class="btn btn-default" href="/Identify/Upload">Submit a Grain</a>

@section Scripts {
    <script src="https://cdnjs.cloudflare.com/ajax/libs/knockout/3.4.1/knockout-min.js"></script>
}

<script type="text/javascript">
// Unknown Grains view model


</script>