@model FSharpList<BackboneTaxon>

@{
    Layout = "_Layout";
}

<h2>Master Reference Collection</h2>

<ul>
    @foreach (var taxon in Model) {
        <li>
            @taxon.Rank: @taxon.Family @taxon.Genus @taxon.Species (@taxon.LatinName)
        </li>
    }
</ul>