@model FSharpList<ReadModels.PublicProfile>
@{
    ViewData["Title"] = "Users";
    ViewData["Subtitle"] = "Assign and revoke curation rights.";
}

@* Header *@
@section headerSection {
    <header><div class="container">
    <h1>@ViewData["Title"]</h1>
    <p>@ViewData["Subtitle"]</p>
    </div></header>
}

<table class="table table-responsive">
    <thead>
        <tr>
            <th>Name</th>
            <th>Public?</th>
            <th>Current Score</th>
            <th>Curator Rights</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var u in Model) {
            <tr>
                <td>@u.Title @u.FirstName @u.LastName</td><td>@u.IsPublic</td><td>@u.Score</td><td>@u.Curator</td>
                <td>@if(!u.Curator){ <form method="POST" action="/Admin/GrantCuration/@u.UserId"><button type="submit" class="btn btn-secondary">Grant Curation</button></form> } </td>
            </tr>
        }
    </tbody>
</table>