@model List<EventStore.SqlEventStore.EventInfo>
@{
    ViewData["Title"] = "Home Page";
}

<h2>Event Store Log</h2>
<p>The event store logs all events that occur within the domain. This is an Entity Framework SQLite database with one table.</p>


<h4>Recent Events</h4>
<table class="table">
    <thead>
        <hr>
            <th>Event</th>
            <th>Stream</th>
            <th>Time</th>
            <th>Json</th>
        </hr>
    </thead>
    <tbody>
@foreach (var e in Model.OrderByDescending(m => m.OccurredAt).Take(10))
{
    string result = System.Text.Encoding.UTF8.GetString(e.EventPayload);
    <tr>
        <td>@e.EventType</td>
        <td>@e.StreamId (Version @e.StreamVersion)</td>
        <td>@e.OccurredAt</td>
        <td>@result</td>
    </tr>
}

</table>

<div class="row">
    <div class="col-md-6">
        <h4>Streams</h4>
        <ul>
            @foreach (var stream in Model.GroupBy(m => m.StreamId)) {
                <li>@stream.Key</li>
            }
        </ul>
    </div>
    <div class="col-md-6">
    </div>
</div>
