@model FSharpList<ReadModels.TaxonSummary>

@{
    Layout = "_Layout";
    ViewData["Title"] = "Master Reference Collection";
}

@* Header *@
@section headerSection {
    <header><div class="container">
    <h1>@ViewData["Title"]</h1>
    <p>The Global Pollen Project collates information from independent reference collections into this global reference collection. We use the Global Pollen Project's taxonomic backbone to define botanical names.</p>
    </div></header>
}

@* Breadcrumb *@
<div class="row">
    <div class="col-md-12">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="/">Home</a></li>
            <li class="breadcrumb-item">Master Reference Collection</li>
        </ol>
    </div>
</div>

@* Options *@
<div class="row">
    <div class="col-md-12">
        <a class="header-toggle">Family</a>
        <a class="header-toggle header-toggle-active">Genus</a>
        <a class="header-toggle">Species</a>
    </div>
</div>

@* Taxonomy Grid *@
<div class="row">
    @foreach (var taxon in Model)
    {
        <div class="col-md-6">
            <div class="taxon-list-item">
                <div class="img-container">
                    @if (!string.IsNullOrEmpty(taxon.ThumbnailUrl))
                    {
                        <img src="@taxon.ThumbnailUrl" alt="Pollen from the plant @taxon.Rank @taxon.LatinName." />
                    }
                </div>
                <div class="taxon-details">
                    <a href="/Taxon/@taxon.Family/@taxon.Genus">
                        <h3>@taxon.LatinName</h3>
                    </a>
                    <ul class="list-inline">
                        <li class="list-inline-item"><i class="fa fa-object-ungroup" aria-hidden="true"></i>  @taxon.GrainCount</li>
                        <li class="list-inline-item"><i class="fa fa-object-group" aria-hidden="true"></i> @taxon.SlideCount</li>
                    </ul>
                </div>
            </div>
        </div>
    }
</div>