@model ReadModels.SlideDetail 
@{ 
    Layout = "_Layout"; 
    ViewBag.Title = "Individual Slide"; 
    string latinName;
    if (Model.Rank == "Family") { latinName = Model.CurrentFamily; }
    else if (Model.Rank == "Genus") { latinName = Model.CurrentGenus; }
    else { latinName = Model.CurrentSpecies; }
    ViewData["Title"] = Model.CollectionSlideId + ": " + latinName;
    ViewData["Subtitle"] = "An individual reference slide from the Oxford European Reference Collection"; 
}

@section headerSection {
<header>
    <div class="container">
        <h2 id="about">@ViewData["Title"]</h2>
        <p>@ViewData["Subtitle"]</p>
    </div>
</header>
} 

@functions { public string GetSpecificEphitet(string latinName) { return latinName.Split(' ').Last(); } }
@section scripts {
<script src="/lib/d3/d3.min.js"></script>
<script src="/lib/Jcrop/js/Jcrop.min.js"></script>
<script src="/js/viewer/viewer.js"></script>
<script src="/js/viewer/focusslider.js"></script>
<script src="/js/viewer/scalebar.js"></script>
<script src="/js/mrc/slide.js"></script>
<script>
    $(function() {
        var frames = ("@Model.Images[0].Frames").slice(1, -1).split(";");
        createViewer(frames, @Model.Images[0].PixelWidth);
    });
</script>
}

@* Breadcrumb *@
<div class="row">
    <div class="col-md-12">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="/">Home</a></li>
            <li class="breadcrumb-item"><a href="/Taxon">Master Reference Collection</a></li>
            @if (Model.Rank == "Family") {
            <li class="breadcrumb-item"><a href="/Taxon/@Model.CurrentFamily">@Model.CurrentFamily</a></li>
            } @if (Model.Rank == "Genus") {
            <li class="breadcrumb-item"><a href="/Taxon/@Model.CurrentFamily">@Model.CurrentFamily</a></li>
            <li class="breadcrumb-item"><a href="/Taxon/@Model.CurrentFamily/@Model.CurrentGenus">@Model.CurrentGenus</a></li>
            } @if (Model.Rank == "Species") {
            <li class="breadcrumb-item"><a href="/Taxon/@Model.CurrentFamily">@Model.CurrentFamily</a></li>
            <li class="breadcrumb-item"><a href="/Taxon/@Model.CurrentFamily/@Model.CurrentGenus">@Model.CurrentGenus</a></li>
            <li class="breadcrumb-item"><a href="/Taxon/@Model.CurrentFamily/@Model.CurrentGenus/@GetSpecificEphitet(Model.CurrentSpecies)">@Model.CurrentSpecies</a></li>
            }
            <li class="breadcrumb-item active">Slide</li>
        </ol>
    </div>
</div>

<div class="row">
    <div class="col-md-8" id="viewer-interface">
        <div id="viewer-container">

        </div>
        <div class="card">
            <div class="card-block card-no-padding" id="slide-gallery">
                @foreach(var img in Model.Images) {
                    <div class="slide-gallery-item col-md-3" data-frames="@img.Frames" data-pixelwidth="@img.PixelWidth">
                        <img src="@img.Frames[0]" alt="Image preview">
                    </div>
                }
            </div>
        </div>

        @* Citation *@
        <h4>Citation</h4>
        <p>Slide from the <em>Collection Name</em> collection, which is owned by Owner, and located at Institution. Obtained from Martin, A.C., & Harvey, W. J. (2016). <em>The Global Pollen Project</em>. Retrieved @DateTime.Now.ToString("d"), from http://globalpollenproject.org</p>
        <a rel="license" href="http://creativecommons.org/licenses/by-nc/4.0/"><img alt="Creative Commons License" style="border-width:0" src="https://i.creativecommons.org/l/by-nc/4.0/88x31.png" /></a><br />These images are licensed under a <a rel="license" href="http://creativecommons.org/licenses/by-nc/4.0/">Creative Commons Attribution-NonCommercial 4.0 International License</a>.
    </div>
    <div class="col-md-8" id="cropping-interface" style="display: none;">
        <div class="card">
            <div class="card-header">
                <span>Draw a box around each pollen grain / spore:</span>
                <div class="btn-toolbar" role="toolbar">
                    <div class="btn-group mr-2" role="group">
                        <button type="button" id="toolbar-clear" class="btn btn-secondary">Clear selected box</button>
                        <button type="button" id="toolbar-cancel" class="btn btn-secondary">Cancel</button>
                        <button type="button" id="toolbar-done" class="btn btn-secondary">Done</button>
                    </div>
                </div>
            </div>
            <div class="card-block" id="cropping-container"></div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="card card-inverse card-primary mb-3 text-center crop-panel" id="cropping-panel">
            <div class="card-block">
                <span>Help us identify individual pollen grains and spores within this slide.</span>
                <button id="cropping-button" class="btn btn-primary btn-block">Start</button>
            </div>
        </div>

        <p>This reference slide has been digitised with @Model.Images.Length image(s). Each image may contain one or more pollen grains.</p>
        <div class="card">
            <div class="card-header">
                Origin
            </div>
            <div class="card-block">
                <dl class="row">
                    <dt class="col-sm-5">Material Origin</dt>
                    <dd class="col-sm-7">Subsample of plant material identified botanically and harvested.</dd>

                    <dt class="col-sm-5">Year in which plant was harvested</dt>
                    <dd class="col-sm-7">@Model.AgeType @Model.Age</dd>

                    <dt class="col-sm-5">Taxonomic Identification</dt>
                    <dd class="col-sm-7">
                        <a href="/Taxon/@Model.CurrentFamily">Family: @Model.CurrentFamily</a><br/>
                        <a href="/Taxon/@Model.CurrentFamily/@Model.CurrentGenus">Genus: @Model.CurrentGenus</a><br/>
                        <a href="/Taxon/@Model.CurrentFamily/@Model.CurrentGenus/@GetSpecificEphitet(Model.CurrentSpecies)">Species: @Model.CurrentSpecies</a>
                    </dd>

                    <dt class="col-sm-5">Collected by</dt>
                    <dd class="col-sm-7">@Model.CollectorName</dd>

                    <dt class="col-sm-5">Location from which plant was taken</dt>
                    <dd class="col-sm-7">@Model.LocationType @Model.Location</dd>
                </dl>
            </div>
        </div>

        <div class="card">
            <div class="card-header">
                Slide Preperation Details
            </div>
            <div class="card-block">
                <dl class="row">
                    <dt class="col-sm-5">Chemical Treatments</dt>
                    <dd class="col-sm-7">@Model.PrepMethod</dd>

                    <dt class="col-sm-5">Slide Creation Date</dt>
                    <dd class="col-sm-7">@Model.PrepYear</dd>

                    <dt class="col-sm-5">Mounting Medium</dt>
                    <dd class="col-sm-7">Unknown</dd>
                </dl>
            </div>
        </div>
    </div>
</div>