@model ReadModels.TaxonDetail

@{
    Layout = "_Layout";
    ViewBag.Title = Model.LatinName + " (" + Model.Rank + ") - Reference Collection";
    ViewData["Description"] = "View reference images for " + Model.LatinName + " pollen, alongside botanical description and geographic range. Use our collections for your pollen identification today.";

    // TODO
    var neotomaId = 0;
    var gbifId = 0;
}

<link rel="stylesheet" href="~/lib/nouislider/distribute/nouislider.min.css"> @* TODO Move this *@
<link rel="stylesheet" href="~/lib/leaflet/dist/leaflet.css"> @* TODO Move this *@

@* Header *@
@section headerSection {
    <header><div class="container">
    <h1>@Model.LatinName</h1>
    <p>@Model.Rank</p>
    </div></header>
}


@* Breadcrumb *@
<div class="row">
    <div class="col-md-12">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="/">Home</a></li>
            <li class="breadcrumb-item"><a href="/Taxon">Master Reference Collection</a></li>
            @if (Model.Rank == "Family") {
                <li class="breadcrumb-item active">@Model.LatinName</li>
            }
            @if (Model.Rank == "Genus") {
                <li class="breadcrumb-item"><a>@Model.Family</a></li>
                <li class="breadcrumb-item active">@Model.LatinName</li>
            }
            @if (Model.Rank == "Species") {
                <li class="breadcrumb-item"><a>@Model.Family</a></li>
                <li class="breadcrumb-item"><a>@Model.Genus</a></li>
                <li class="breadcrumb-item active">@Model.LatinName</li>
            }
        </ol>
    </div>
</div>

<div class="row">
    <div class="col-md-6">

        <div class="panel panel-white">
            <div class="panel-heading"><span class="glyphicon glyphicon-film"></span> Specimens</div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-md-12">
                        <label>Digitised Reference Slides</label>
                        <ul class="grain-grid columns-8">
                            <li>
                            </li>
                        </ul>
                        <hr />
                        <label>User Submissions</label>
                        <ul class="grain-grid columns-8">
                            <li>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-6">

        <div class="panel panel-black">
            <div class="panel-heading"><span class="glyphicon glyphicon-globe"></span> 
                Distribution
                <div class="btn-group" data-toggle="buttons" style="float:right;">
                    <label class="btn btn-primary btn-sm active">
                    <input type="radio" name="distribution" value="recent" autocomplete="off" checked> Recent
                    </label>
                    <label class="btn btn-primary btn-sm">
                    <input type="radio" name="distribution" value="paleo" autocomplete="off"> Paleo
                    </label>
                </div>

                </div>
            <div class="panel-body">

                <input hidden="hidden" id="NeotomaId" value="@neotomaId" />
                <input hidden="hidden" id="GbifId" value="@gbifId" />

                <div class="row" id="warnings-container" style="display:none">
                    <div class="col-md-12">
                        <div class="alert alert-warning" role="alert">
                            <p style="display:none" id="gbif-warning"><span class="glyphicon glyphicon-warning-sign"></span> GBIF Link: Present distribution currently unavailable for this taxon.</p>
                            <p style="display:none" id="gbif-warning-desc"><span class="glyphicon glyphicon-warning-sign"></span> GBIF Link: No English descriptions can be retrieved for this taxon.</p>
                        </div>
                    </div>
                </div>

                <div id="modern">
                    <div id="map" style="height:300px"></div>
                </div>

                <div id="paleo" style="display:none">
                    <div id="paleo-loading">Fetching from Neotoma...</div>
                    <div id="neotoma-map-unavailable" style="display:none"><p>Past distributions unavailable from Neotoma.</p></div>
                    <span class="timespan">Showing occurrences from <span id="paleo-range-low"></span> to <span id="paleo-range-hi"></span> years before present.</span>
                    <div id="neotoma-map"></div>
                    <div id="range"></div>
                    
                    
                </div>
            </div>
        </div>

        <div class="panel panel-white">
            <div class="panel-heading"><span class="glyphicon glyphicon-book"></span> Definition <a id="view-at-gbif" class="btn btn-default btn-sm" style="float:right" href="http://gbif.org/species/@gbifId" target="_blank">View at GBIF</a></div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-md-12">
                        <div id="gbif-image"></div>
                        <p id="gbif-description"><span class="glyphicon glyphicon-refresh"></span></p>
                        <p><span id="description-source"></span> <br/> <span id="gbif-image-source"></span></p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <hr />
                        @if (Model.Children.Length > 0)
                        {
                            <dl class="dl-horizontal">
                                @if (Model.Rank == "Family") {
                                    <dt>Genera</dt>
                                } else {
                                    <dt>Species</dt>
                                }
                                <dd>
                                    <ul class="list-inline">
                                        @foreach (var subTaxon in Model.Children.OrderBy(m => m.Name))
                                        {
                                            <li><a href="/Taxon/Id/@subTaxon.Id">@subTaxon.Name</a></li>
                                        }
                                    </ul>
                                </dd>
                            </dl>
                        }
                    </div>
                </div>
            </div>
        </div>

        <div class="panel panel-green" data-bind="with: taxonomicStatus">
            <div class="panel-heading">Taxonomic Status <a id="view-at-gbif" class="btn btn-default btn-sm" style="float:right" href="http://www.theplantlist.org/tpl1.1/search?q=@Model.LatinName" target="_blank">View on The Plant List</a></div>
            <div class="panel-body">
                <span style="font-size: 2em;display: block;">Confirmed</span>
            </div>
        </div>

    </div>
</div>

@section scripts {
    @* Present Distribution Map *@
    <script type="text/javascript" src="~/lib/leaflet/dist/leaflet.js"></script>
    <script src="~/lib/nouislider/distribute/nouislider.min.js"></script>
    <script src="~/js/taxon/PresentDistribution.js"></script>

    @* Past Distribution Map *@
    <script src="//d3js.org/d3.v3.min.js"></script>
    <script src="//d3js.org/topojson.v0.min.js"></script>
    <script src="~/lib/wnumb/wNumb.js"></script>
    <script src="~/js/taxon/PastDistribution.js"></script>
}