@model ReadModels.TaxonDetail

@{
    Layout = "_Layout";
    ViewBag.Title = Model.LatinName + " (" + Model.Rank + ") - Master Reference Collection";
    var subname = Model.Rank == "Family" ? "Genera" : "Species";
    var completionPercentage = Model.BackboneChildren != 0 ? ((double)Model.Children.Length / (double)Model.BackboneChildren) * 100.00 : 100.00;
}

<link rel="stylesheet" href="~/lib/nouislider/distribute/nouislider.min.css"> @* TODO Move this *@
<link rel="stylesheet" href="~/lib/leaflet/dist/leaflet.css"> @* TODO Move this *@

@* Header *@
@section headerSection {
    <header><div class="container">
    <h1>@Model.LatinName <small>@Model.Authorship</small></h1>
    <p>@Model.Rank in the Global Pollen Project's Master Reference Collection.</p>
    </div></header>
}

@* Breadcrumb *@
<div class="row">
    <div class="col-md-12">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="/">Home</a></li>
            <li class="breadcrumb-item"><a href="/Taxon">Master Reference Collection</a></li>
            @if (Model.Rank == "Family") {
                <li class="breadcrumb-item active">@Model.LatinName</li>
            }
            @if (Model.Rank == "Genus") {
                <li class="breadcrumb-item"><a href="/Taxon/@Model.Family">@Model.Family</a></li>
                <li class="breadcrumb-item active">@Model.LatinName</li>
            }
            @if (Model.Rank == "Species") {
                <li class="breadcrumb-item"><a href="/Taxon/@Model.Family">@Model.Family</a></li>
                <li class="breadcrumb-item"><a href="/Taxon/@Model.Family/@Model.Genus">@Model.Genus</a></li>
                <li class="breadcrumb-item active">@Model.LatinName</li>
            }
        </ol>
    </div>
</div>

<div class="row">
    <div class="col-md-6">
        @if (Model.Grains.Length > 0) {
        <div class="panel panel-white">
            <div class="panel-heading"><i class="fa fa-film" aria-hidden="true"></i> Individual Grains</div>
            <div class="panel-body">
                <ul class="grain-grid columns-8">
                    @foreach (var grain in Model.Grains) {
                    <li>
                        <a href="/Taxon/Grain/@grain.Id">
                            <div class="img-container">
                                <img src="@grain.Thumbnail"/>
                            </div>
                        </a>
                    </li>
                    }
                </ul>
            </div>
        </div> }

        @if (Model.Slides.Length > 0) {
        <div class="panel panel-white">
            <div class="panel-heading"><i class="fa fa-film" aria-hidden="true"></i> Digitised Records</div>
            <div class="panel-body">
                <p>There are @Model.Slides.Length digitised records in the GPP. Each record may contain multiple individual grains.</p>
                <ul class="grain-grid columns-8">
                    @foreach (var slide in Model.Slides) {
                    <li>
                        <a href="/Taxon/Slide/@slide.ColId/@slide.SlideId">
                            <div class="img-container">
                                <img src="@slide.Thumbnail"/>
                            </div>
                        </a>
                    </li>
                    }
                </ul>
            </div>
        </div> }

    </div>
    <div class="col-md-6">

        <div class="panel panel-black">
            <div class="panel-heading"><i class="fa fa-globe" aria-hidden="true"></i> 
                Distribution
                <div class="btn-group" data-toggle="buttons" style="float:right;">
                    <label class="btn btn-primary btn-sm active">
                    <input type="radio" name="distribution" value="recent" autocomplete="off" checked> Recent
                    </label>
                    <label class="btn btn-primary btn-sm">
                    <input type="radio" name="distribution" value="paleo" autocomplete="off"> Palaeo
                    </label>
                </div>

                </div>
            <div class="panel-body">

                <input hidden="hidden" id="NeotomaId" value="@Model.NeotomaId" />
                <input hidden="hidden" id="GbifId" value="@Model.GbifId" />

                <div class="row" id="warnings-container" style="display:none">
                    <div class="col-md-12">
                        <div class="alert alert-warning" role="alert">
                            <p style="display:none" id="gbif-warning"><span class="glyphicon glyphicon-warning-sign"></span> GBIF Link: Present distribution currently unavailable for this taxon.</p>
                            <p style="display:none" id="gbif-warning-desc"><span class="glyphicon glyphicon-warning-sign"></span> GBIF Link: No English descriptions can be retrieved for this taxon.</p>
                        </div>
                    </div>
                </div>

                <div id="modern">
                    <div id="map" style="height:300px"></div>
                </div>

                <div id="paleo" style="display:none">
                    <div id="paleo-loading">Fetching from Neotoma...</div>
                    <div id="neotoma-map-unavailable" style="display:none"><p>Past distributions unavailable from Neotoma.</p></div>
                    <span class="timespan">Showing occurrences from <span id="paleo-range-low"></span> to <span id="paleo-range-hi"></span> years before present.</span>
                    <div id="neotoma-map"></div>
                    <div id="range"></div>
                </div>
            </div>
        </div>

        <div class="panel panel-white">
            <div class="panel-heading"><i class="fa fa-book" aria-hidden="true"></i> Definition <a id="view-at-gbif" class="btn btn-default btn-sm" style="float:right" href="http://gbif.org/species/@Model.GbifId" target="_blank">View at GBIF</a></div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-md-12">
                        <div id="gbif-image"></div>
                        <p id="gbif-description"><span class="glyphicon glyphicon-refresh"></span></p>
                        <p><span id="description-source"></span> <br/> <span id="gbif-image-source"></span></p>
                    </div>
                </div>
                <dl class="row">
                    <dt class="col-sm-3">Global Pollen Project UUID</dt>
                    <dd class="col-sm-9">@Model.Id</dd>
                </dl>
                <dl class="row">
                    <dt class="col-sm-3">Parent Taxon</dt>
                    <dd class="col-sm-9">
                        @if (Model.Rank == "Genus") {
                            <a href="/Taxon/@Model.Family">@Model.Family</a>
                        }
                        @if (Model.Rank == "Species") {
                            <a href="/Taxon/@Model.Family/@Model.Genus">@Model.Genus</a>
                        }
                    </dd>
                </dl>
                @if (Model.Rank != "Species") {
                    <dl class="row">
                        <dt class="col-sm-3">@subname</dt>
                        <dd class="col-sm-9">
                            <ul class="list-inline">
                            @foreach (var subTaxon in Model.Children.OrderBy(m => m.Name))
                            {
                                <li><a href="/Taxon/ID/@subTaxon.Id">@subTaxon.Name</a></li>
                            }
                            </ul>
                        </dd>
                    </dl>
                    <dl class="row">
                        <dt class="col-sm-3">Taxonomic Completion</dt>
                        <dd class="col-sm-9">
                            @{ var completionP = "p" + completionPercentage.ToString("0"); }
                            <div class="c100 @completionP">
                                <span>@(completionPercentage.ToString("0.00"))%</span>
                                <div class="slice">
                                    <div class="bar"></div>
                                    <div class="fill"></div>
                                </div>
                            </div>
                            <span>@Model.Children.Length of @Model.BackboneChildren accepted @subname.</span>
                        </dd>
                    </dl>
                }
            </div>
        </div>

        <div class="panel panel-green" data-bind="with: taxonomicStatus">
            <div class="panel-heading">Taxonomic Status <a id="view-at-gbif" class="btn btn-default btn-sm" style="float:right" href="http://www.theplantlist.org/tpl1.1/search?q=@Model.LatinName" target="_blank">View on The Plant List</a></div>
            <div class="panel-body">
                <p>This taxon is confirmed in our taxonomic backbone.</p>
                @if (!string.IsNullOrEmpty(Model.ReferenceName)) {
                    if (!string.IsNullOrEmpty(Model.ReferenceUrl)) {
                        <p><strong>Reference: </strong><a href="@Model.ReferenceUrl" target="_blank">@Model.ReferenceName</a></p>
                    } else {
                        <p><strong>Reference: </strong>@Model.ReferenceName</p>
                    }
                } else { <span>We currently do not have a reference for this taxon. You can check <a target="_blank" href="http://www.theplantlist.org/tpl1.1/search?q=@Model.LatinName">The Plant List</a> for further information.</span>}
            </div>
        </div>

    </div>
</div>

@section scripts {
    @* Present Distribution Map *@
    <script type="text/javascript" src="~/lib/leaflet/dist/leaflet.js"></script>
    <script src="~/lib/nouislider/distribute/nouislider.min.js"></script>
    <script src="~/js/links/gbif-map.js"></script>

    @* Past Distribution Map *@
    <script src="//d3js.org/d3.v3.min.js"></script>
    <script src="//d3js.org/topojson.v0.min.js"></script>
    <script src="~/lib/wnumb/wNumb.js"></script>
    <script src="~/js/links/neotoma-map.js"></script>
}