<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Global Pollen Project</title>

    <!-- Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Hind" rel="stylesheet">
    <link rel="stylesheet" href="/lib/font-awesome/css/font-awesome.min.css">

    <environment names="Development">
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
        <link rel="stylesheet" href="/lib/Jcrop/css/Jcrop.min.css">
        <link rel="stylesheet" href="/css/styles.css" >
    </environment>
    <environment names="Staging,Production">
        <link rel="stylesheet" href="/lib/Jcrop/css/Jcrop.min.css">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous"
              asp-fallback-href="~/lib/bootstrap/dist/css/bootstrap.min.css"
              asp-fallback-test-class="sr-only" asp-fallback-test-property="position" asp-fallback-test-value="absolute" />
        <link rel="stylesheet" href="/css/styles.css" >
    </environment>
</head>
<body>

    @* Navbar *@
    <nav class="navbar navbar-toggleable-md navbar-light bg-faded fixed-top">
        <div class="container">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#master-navbar" aria-controls="master-navbar" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="master-navbar">
                <a class="navbar-brand" href="/">
                    <span class="top">The Global</span>
                    <span class="bottom">Pollen Project</span>
                </a>
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item">
                    <a class="nav-link" href="/Guide">Guide</a>
                    </li>
                    <li class="nav-item">
                    <a class="nav-link" href="/Taxon">Reference Collection</a>
                    </li>
                    <li class="nav-item">
                    <a class="nav-link" href="/Identify">Identify</a>
                    </li>
                    <li class="nav-item">
                    <a class="nav-link" href="/Reference">Individual Collections</a>
                    </li>
                    <li class="nav-item">
                    <a class="nav-link" href="/Statistics">Stats</a>
                    </li>
                </ul>
                @await Html.PartialAsync("_LoginPartial")
            </div>
        </div>    
    </nav>
    
    @* Page Content *@
    <div class="page-content @RenderSection("pageContentStyles", required: false)">
        @RenderSection("headerSection", required: false)
        @RenderSection("nocontainerbody", required: false)
        <div class="container body-content">
            @RenderBody()
        </div>
    </div>

    @* Footer *@
    <footer>
        <div class="container">
            <div class="row">
                <div class="col-md-3">
                    <h4>Information</h4>
                    <ul>
                        <li><a href="/Guide">About</a></li>
                        <li><a href="/Api">Public API</a></li>
                        <li><a href="/Terms">Terms and Licensing</a></li>
                        <li><a href="/Guide#cite">How to Cite</a></li>
                    </ul>
                </div>
                <div class="col-md-5" style="padding-right:4em">
                    <h4>Data</h4>
                    <ul>
                        <li><a href="/Taxon">Master Reference Collection</a></li>
                        <li><a href="/Reference">Individual Reference Collections</a></li>
                        <li><a href="/Identify">Unidentified Specimens</a></li>
                    </ul>
                    <h4>Tools</h4>
                    <ul>
                        <li><a href="/Digitise">Online Digitisation Tools</a></li>
                        <li><a href="/Tools">Botanical Name Tracer</a></li>
                    </ul>
                </div>
                <div class="col-md-4 footer-images">
                    <h4>Funding</h4>
                    <p>The Global Pollen Project is funded via the Natural Environment Research Council of the United Kingdom, and the Oxford Long-Term Ecology Laboratory.</p>
                    <a href="https://oxlel.zoo.ox.ac.uk" target="_blank"><img src="~/images/oxlellogo.png" alt="Long Term Ecology Lab" /></a>
                    <img src="~/images/oxford-logo.png" alt="University of Oxford" />
                </div>
            </div>
            <div class="row">
                <hr />
                <div class="col-md-12">
                    <p style="text-align:center;">The Global Pollen Project 1.5 <span class="hide-xs">·</span> Code available under <a href="https://opensource.org/licenses/mit-license.html" target="_blank">MIT License</a></p>
                </div>
            </div>
        </div>
    </footer>

    <environment names="Development">
        <script src="~/lib/jquery/dist/jquery.js"></script>
        <script src="~/lib/tether/dist/js/tether.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
    </environment>
    <environment names="Staging,Production">
        <script src="https://code.jquery.com/jquery-3.2.1.min.js" crossorigin="anonymous"
                asp-fallback-src="~/lib/jquery/dist/jquery.min.js"
                asp-fallback-test="window.jQuery">
        </script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous"
                asp-fallback-src="~/lib/bootstrap/dist/js/bootstrap.min.js"
                asp-fallback-test="window.jQuery && window.jQuery.fn && window.jQuery.fn.modal">
        </script>
    </environment>

    @RenderSection("scripts", required: false)
</body>
</html>
