@model FSharpList<ReadModels.ReferenceCollectionSummary>

@{
    Layout = "_Layout";
    ViewData["Title"] = "Individual Reference Collections";
}

@* Header *@
@section headerSection {
    <header><div class="container">
    <h1>@ViewData["Title"]</h1>
    <p>Digitised and undigitised reference material from individual collections and institutions.</p>
    </div></header>
}

@* Breadcrumb *@
<div class="row">
    <div class="col-md-12">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="/">Home</a></li>
            <li class="breadcrumb-item">Individual Reference Collections</li>
        </ol>
    </div>
</div>

<div class="row">
    <div class="col-md-9">
        <div class="row">
            @foreach (var col in Model) {
                <div class="col-md-6">
                <div class="card">
                    <div class="card-block">
                    <h4 class="card-title"><a href="/Reference/@col.Id/@col.Version">@col.Name</a></h4>
                    <h6 class="card-subtitle mb-2 text-muted">@col.CuratorSurname, @col.CuratorFirstNames</h6>
                    <p class="card-text">@col.Description</p>
                    <p class="card-text"><small class="text-muted">Last updated on @col.Published</small></p>
                    </div>
                </div>
                </div>
            }
        </div>
    </div>
    <div class="col-md-3">
        <div class="card card-inverse card-primary mb-3 text-center crop-panel">
            <div class="card-block">
                <p class="card-text">
                    Pollen reference material is commonly organised in phyiscal reference collections, of drawers of individual glass slides. 
                    We hold records of such collections, important information about their manufacture, and whether they have been digitised into the Global Pollen Project.
                </p>
            </div>
        </div>
    </div>
</div>