@model Responses.SlidePageViewModel 
@{ 
    Layout = "_Layout"; 
    ViewBag.Title = "Individual Slide"; 
    string latinName;
    if (Model.Slide.Rank == "Family") { latinName = Model.Slide.CurrentFamily; }
    else if (Model.Slide.Rank == "Genus") { latinName = Model.Slide.CurrentGenus; }
    else { latinName = Model.Slide.CurrentSpecies; }
    ViewData["Title"] = Model.Slide.CollectionSlideId + ": " + latinName;
    ViewData["Subtitle"] = Model.Collection.Name + " - digitised reference slide"; 
}

@section headerSection {
<header>
    <div class="container">
        <h2 id="about">@ViewData["Title"]</h2>
        <p>@ViewData["Subtitle"]</p>
    </div>
</header>
}

@functions { public string GetSpecificEphitet(string latinName) { return latinName.Split(' ').Last(); } }
@section scripts {
<script src="/lib/d3/d3.min.js"></script>
<script src="/lib/Jcrop/js/Jcrop.min.js"></script>
<script src="/js/viewer/viewer.js"></script>
<script src="/js/viewer/focusslider.js"></script>
<script src="/js/viewer/scalebar.js"></script>
<script src="/js/mrc/slide.js"></script>
<script>
    $(function() {
        var frames = @Html.Raw(Json.Serialize(Model.Slide.Images[0].Frames));
        createViewer(frames, @Model.Slide.Images[0].PixelWidth);
    });
</script>
}

@* Breadcrumb *@
<div class="row">
    <div class="col-md-12">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="/">Home</a></li>
            <li class="breadcrumb-item"><a href="/Taxon">Master Reference Collection</a></li>
            @if (Model.Slide.Rank == "Family") {
            <li class="breadcrumb-item"><a href="/Taxon/@Model.Slide.CurrentFamily">@Model.Slide.CurrentFamily</a></li>
            } @if (Model.Slide.Rank == "Genus") {
            <li class="breadcrumb-item"><a href="/Taxon/@Model.Slide.CurrentFamily">@Model.Slide.CurrentFamily</a></li>
            <li class="breadcrumb-item"><a href="/Taxon/@Model.Slide.CurrentFamily/@Model.Slide.CurrentGenus">@Model.Slide.CurrentGenus</a></li>
            } @if (Model.Slide.Rank == "Species") {
            <li class="breadcrumb-item"><a href="/Taxon/@Model.Slide.CurrentFamily">@Model.Slide.CurrentFamily</a></li>
            <li class="breadcrumb-item"><a href="/Taxon/@Model.Slide.CurrentFamily/@Model.Slide.CurrentGenus">@Model.Slide.CurrentGenus</a></li>
            <li class="breadcrumb-item"><a href="/Taxon/@Model.Slide.CurrentFamily/@Model.Slide.CurrentGenus/@GetSpecificEphitet(Model.Slide.CurrentSpecies)">@Model.Slide.CurrentSpecies</a></li>
            }
            <li class="breadcrumb-item active">Slide</li>
        </ol>
    </div>
</div>

<div class="row">
    <div class="col-md-8" id="viewer-interface">
        <div id="viewer-container">

        </div>
        <div class="card">
            <div class="card-block card-no-padding" id="slide-gallery">
                @foreach(var img in Model.Slide.Images) {
                    <div class="slide-gallery-item col-md-3" data-frames='@Html.Raw(Json.Serialize(img.Frames))' data-pixelwidth="@img.PixelWidth">
                        <img src="@img.Frames[0]" alt="Image preview">
                    </div>
                }
            </div>
        </div>

        @* Citation *@
        <div class="card card-inverse card-primary crop-panel mb-3">
            <div class="card-block">
                <h4 class="card-title">Citation</h4>
                <p>@(Model.Collection.CuratorSurname), @(Model.Collection.CuratorFirstNames) (@Model.Collection.Published.Year). @latinName (@Model.Slide.CollectionSlideId). Digitised palynological slide. In: <em>@(Model.Collection.Name)</em> (Version @Model.Collection.Version). Obtained from Martin & Harvey (2017) 10.1111/2041-210X.12752. Retrieved from globalpollenproject.org on @DateTime.Now.ToString("d").</p>
            </div>
        </div>
        <a rel="license" href="http://creativecommons.org/licenses/by-nc/4.0/"><img alt="Creative Commons License" style="border-width:0" src="https://i.creativecommons.org/l/by-nc/4.0/80x15.png" /></a><br />These images are licensed under a <a rel="license" href="http://creativecommons.org/licenses/by-nc/4.0/">Creative Commons Attribution-NonCommercial 4.0 International License</a>.
    </div>
    <div class="col-md-8" id="cropping-interface" style="display: none;">
        <div class="card">
            <div class="card-header">
                <span>Draw a box around each pollen grain / spore:</span>
                <div class="btn-toolbar" role="toolbar">
                    <div class="btn-group mr-2" role="group">
                        <button type="button" id="toolbar-clear" class="btn btn-secondary">Clear selected box</button>
                        <button type="button" id="toolbar-cancel" class="btn btn-secondary">Cancel</button>
                        <button type="button" id="toolbar-done" class="btn btn-primary">Done</button>
                    </div>
                </div>
            </div>
            <div class="card-block" id="cropping-container"></div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="card card-inverse card-primary mb-3 text-center crop-panel" id="cropping-panel">
            <div class="card-block">
                <span>Help us identify individual pollen grains and spores within this slide.</span>
                <button id="cropping-button" class="btn btn-primary btn-block">Start</button>
            </div>
        </div>

        <p>This reference slide has been digitised with @Model.Slide.Images.Length image(s). Each image may contain one or more pollen grains.</p>
        <div class="card">
            <div class="card-header">
                Origin
            </div>
            <div class="card-block">
                <dl class="row">
                    <dt class="col-sm-5">Material Origin</dt>
                    <dd class="col-sm-7">Herbarium voucher or a living plant identified in the field.</dd>

                    <dt class="col-sm-5">Year sample taken</dt>
                    <dd class="col-sm-7">
                        @if (Model.Slide.AgeType == "Unknown") { <span>Unknown</span> }
                        else { <span>@Model.Slide.AgeType @Model.Slide.Age</span> }
                    </dd>

                    <dt class="col-sm-5">Taxonomic Identification</dt>
                    <dd class="col-sm-7">
                        <a href="/Taxon/@Model.Slide.CurrentFamily">Family: @Model.Slide.CurrentFamily</a><br/>
                        <a href="/Taxon/@Model.Slide.CurrentFamily/@Model.Slide.CurrentGenus">Genus: @Model.Slide.CurrentGenus</a><br/>
                        <a href="/Taxon/@Model.Slide.CurrentFamily/@Model.Slide.CurrentGenus/@GetSpecificEphitet(Model.Slide.CurrentSpecies)">Species: @Model.Slide.CurrentSpecies</a>
                    </dd>

                    <dt class="col-sm-5">Identified by</dt>
                    <dd class="col-sm-7">@Model.Slide.CollectorName</dd>

                    <dt class="col-sm-5">Location</dt>
                    <dd class="col-sm-7">
                        @if (Model.Slide.LocationType == "Unknown") { <span>Unknown</span> }
                        else { <span>@Model.Slide.Location</span> }
                    </dd>
                </dl>
            </div>
        </div>

        <div class="card">
            <div class="card-header">
                Slide Preperation Details
            </div>
            <div class="card-block">
                <dl class="row">
                    <dt class="col-sm-5">Chemical Treatments</dt>
                    <dd class="col-sm-7">@Model.Slide.PrepMethod</dd>

                    <dt class="col-sm-5">Slide Creation Date</dt>
                    <dd class="col-sm-7">@Model.Slide.PrepYear</dd>

                    <dt class="col-sm-5">Mounting Medium</dt>
                    <dd class="col-sm-7">@Model.Slide.Mount</dd>
                </dl>
            </div>
        </div>
    </div>
</div>