@model ReadModels.ReferenceCollectionDetail

@{
    Layout = "_Layout";
    ViewData["Title"] = Model.Name;
}
@functions { public string GetSpecificEphitet(string latinName) { return latinName.Split(' ').Last(); } }

@section scripts {
    <script src="/lib/datatables.net/js/jquery.dataTables.min.js"></script>
    <script type="text/javascript">
        $(document).ready(function() {
            $('#reference-table').DataTable({
                paging: false
            });
        })
    </script>
}

@* Header *@
@section headerSection {
    <header><div class="container">
    <h1>@ViewData["Title"]</h1>
    <p>Digitised and undigitised reference material from individual collections and institutions.</p>
    </div></header>
}

@* Breadcrumb *@
<div class="row">
    <div class="col-md-12">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="/">Home</a></li>
            <li class="breadcrumb-item"><a href="/Reference">Individual Reference Collections</a></li>
            <li class="breadcrumb-item active">@Model.Name</li>
        </ol>
    </div>
</div>

@* Slide Table *@
<table class="table table-responsive" id="reference-table" data-page-length='100'>
  <thead class="thead-default">
    <tr>
      <th>#</th>
      <th>Family</th>
      <th>Genus</th>
      <th>Species</th>
      <th>Digitisation Status</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
      @foreach (var slide in Model.Slides) {
        <tr class="taxon-status-@slide.CurrentTaxonStatus">
            <th scope="row">@slide.CollectionSlideId</th>
            @if (slide.CurrentTaxonStatus == "accepted" && slide.IsFullyDigitised) {
                <td><a href="/Taxon/@slide.CurrentFamily">@slide.CurrentFamily</a><em>@slide.FamilyOriginal</em></td>
                <td><a href="/Taxon/@slide.CurrentFamily/@slide.CurrentGenus">@slide.CurrentGenus</a><em>@slide.GenusOriginal</em></td>
                <td><a href="/Taxon/@slide.CurrentFamily/@slide.CurrentGenus/@GetSpecificEphitet(slide.CurrentSpecies)">@slide.CurrentSpecies @slide.CurrentSpAuth</a><em>@slide.SpeciesOriginal</em></td>
            } else {
                <td><span>@slide.CurrentFamily</span><em>@slide.FamilyOriginal</em></td>
                <td><span>@slide.CurrentGenus</span><em>@slide.GenusOriginal</em></td>
                <td><span>@slide.CurrentSpecies @slide.CurrentSpAuth</span><em>@slide.SpeciesOriginal</em></td>
            }
            <td>
                @if (slide.IsFullyDigitised) { <span>Fully digitised, with @slide.Images.Length images.</span> }
                @if (!slide.IsFullyDigitised) { <span>Not digitised.</span> }
            </td>
            <td>
                @if (!slide.IsFullyDigitised) { <a href="/Taxon/@Model.Id/@slide.CollectionSlideId" class="btn btn-secondary">View Slide</a> }
            </td>
        </tr>
      }
  </tbody>
</table>