@model ReadModels.ReferenceCollectionDetail

@{
    Layout = "_Layout";
    ViewData["Title"] = Model.Name;

    var botanicalCollectors = Model.Slides.Select(s => s.CollectorName).Distinct().ToList();
}
@functions { public string GetSpecificEphitet(string latinName) { return latinName.Split(' ').Last(); } }

@section scripts {
    <script src="/lib/datatables.net/js/jquery.dataTables.min.js"></script>
    <script type="text/javascript">
        $(document).ready(function() {
            $('#reference-table').DataTable({
                paging: false
            });
        })
    </script>
}

<link rel="stylesheet" href="https://cdn.datatables.net/1.10.16/css/dataTables.bootstrap4.min.css" />

@* Header *@
@section headerSection {
    <header><div class="container">
    <h1>@ViewData["Title"]</h1>
    <p>Digitised Reference Collection.</p>
    </div></header>
}

@* Breadcrumb *@
<div class="row">
    <div class="col-md-12">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="/">Home</a></li>
            <li class="breadcrumb-item"><a href="/Reference">Individual Reference Collections</a></li>
            <li class="breadcrumb-item active">@Model.Name</li>
        </ol>
    </div>
</div>

@* Collection Details *@
<p>@Model.Description</p>
<div class="card-group">
  <div class="card">
    <div class="card-block">
      <h4 class="card-title">Contributors</h4>
      <p><strong>Curator:</strong> @Model.CuratorFirstNames @Model.CuratorSurname (<a href="mailto:@Model.CuratorEmail">Email</a>)</p>
      <p><strong>Digitisers:</strong> @foreach (var user in Model.Digitisers) { <span>@user</span> } </p>
      <p><strong>Material Contributed By:</strong> @foreach (var user in Model.Collectors) { <span>@user</span> } </p>
    </div>
  </div>
  <div class="card">
    <div class="card-block">
      <h4 class="card-title">Access to Material</h4>
      <p class="card-text">
          @if (Model.AccessMethod == "digital") {
              <span>This collection is only available to view in digitially. The curator does not have access to the original physical reference slides.</span>
          } else if (Model.AccessMethod == "institution") {
              <span>The physical reference slides are located within an institution: <a href="@Model.InstitutionUrl">@Model.Institution</a></span>
          } else if (Model.AccessMethod == "private") {
              <span>This is a personal collection. Access to the physical reference material may be granted on request. Please contact the curator for more information.</span>
          }
      </p>
    </div>
  </div>
  <div class="card">
    <div class="card-block">
      <h4 class="card-title">Citation</h4>
      <p class="card-text">@Model.CuratorSurname, @Model.CuratorFirstNames, @Model.Name (Version @Model.Version). Digitised Palynological Reference Collection accessed via globalpollenproject.org on @DateTime.Now</p>
    </div>
  </div>
</div>

@* Slide Table *@
<table class="table table-responsive" id="reference-table" data-page-length='100'>
  <thead class="thead-default">
    <tr>
      <th>#</th>
      <th>Family</th>
      <th>Genus</th>
      <th>Species</th>
      <th>Digitisation Status</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
      @foreach (var slide in Model.Slides) {
        <tr class="taxon-status-@slide.CurrentTaxonStatus">
            <th scope="row">@slide.CollectionSlideId</th>
            @if (slide.CurrentTaxonStatus == "accepted" && slide.IsFullyDigitised) {
                <td><a href="/Taxon/@slide.CurrentFamily">@slide.CurrentFamily</a> <em class="table-orig-name">(@slide.FamilyOriginal)</em></td>
                <td><a href="/Taxon/@slide.CurrentFamily/@slide.CurrentGenus">@slide.CurrentGenus</a> <em class="table-orig-name">(@slide.GenusOriginal)</em></td>
                <td><a href="/Taxon/@slide.CurrentFamily/@slide.CurrentGenus/@GetSpecificEphitet(slide.CurrentSpecies)">@slide.CurrentSpecies @slide.CurrentSpAuth</a> <em class="table-orig-name">(@slide.SpeciesOriginal)</em></td>
            } else {
                <td><span>@slide.CurrentFamily</span><em>@slide.FamilyOriginal</em></td>
                <td><span>@slide.CurrentGenus</span><em>@slide.GenusOriginal</em></td>
                <td><span>@slide.CurrentSpecies @slide.CurrentSpAuth</span><em>@slide.SpeciesOriginal</em></td>
            }
            <td>
                @if (slide.IsFullyDigitised) { <span>Fully digitised, with @slide.Images.Length images.</span> }
                @if (!slide.IsFullyDigitised) { <span>Not digitised.</span> }
            </td>
            <td>
                @if (!slide.IsFullyDigitised) { <a href="/Taxon/@Model.Id/@slide.CollectionSlideId" class="btn btn-secondary">View Slide</a> }
            </td>
        </tr>
      }
  </tbody>
</table>