 @{
    Layout = "_Layout";
    ViewData["Title"] = "Digitise Dashboard";
    ViewData["Subtitle"] = "Use this tool to digitise your collections. A digitised slide contains two components: (1) metadata, and (2) images.";
}

<link rel="stylesheet" href="/css/digitise.css" >

@* Header *@
@section headerSection {
    <header><div class="container">
    <h1>@ViewData["Title"]</h1>
    <p>@ViewData["Subtitle"]</p>
    </div></header>
}

@section scripts {
    <script src="/lib/d3/d3.min.js"></script>
    <script src="/lib/nouislider/distribute/nouislider.min.js"></script>
    <script src="/lib/knockout/dist/knockout.js"></script>
    <script src="/js/viewer/viewer.js"></script>
    <script src="/js/viewer/scalebar.js"></script>
    <script src="/js/viewer/focusslider.js"></script>
    <script src="/js/digitise/app.js"></script>
}

@Html.Partial("Digitise/_AddCollection")
@Html.Partial("Digitise/_AddSlide")
@Html.Partial("Digitise/_SlideDetail")
@Html.Partial("Digitise/_Calibration")

 @* Top button bar *@
<div class="btn-toolbar mb-3" role="toolbar">
    <button data-bind="click: function() { switchView(CurrentView.ADD_COLLECTION) }" class="btn btn-secondary">Create new collection</button>
    <button data-bind="click: function() { switchView(CurrentView.CALIBRATE) }" class="btn btn-secondary">Setup Microscope Calibrations</button>
</div>

<div class="row">
    <div class="col-md-3">
        <label>My Collections</label>
        <ul class="list-group backbone-list" data-bind="foreach: myCollections">
            <li data-bind="text: Name, click: function() { $parent.switchView(CurrentView.DETAIL, $data) }"></li>
        </ul>
    </div>

    <div class="col-md-9" data-bind="visible: activeCollection, if: activeCollection">
        <h3 data-bind="text: activeCollection().Name"></h3>
        <hr/>

        <button data-bind="click: function() { switchView(CurrentView.ADD_SLIDE_RECORD, $data) }" class="btn btn-primary">Add new Slide</button>
        <p data-bind="text: activeCollection().Description"></p>

        <table class="table">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Family</th>
                    <th>Genus</th>
                    <th>Species</th>
                    <th>Current Taxon</th>
                    <th>Image Count</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody data-bind="foreach: activeCollection().Slides">
                <tr>
                    <td data-bind="text: $data.CollectionSlideId"></td>
                    <td data-bind="text: $data.FamilyOriginal"></td>
                    <td data-bind="text: $data.GenusOriginal"></td>
                    <td data-bind="text: $data.SpeciesOriginal"></td>
                    <td data-bind="text: $data.CurrentFamily + ' ' + $data.CurrentGenus + ' ' + $data.CurrentSpecies + ' ' + $data.CurrentSpAuth"></td>
                    <td data-bind="text: $data.Images.length"></td>
                    <td><button data-bind="click: function() { $parent.switchView(CurrentView.SLIDE_DETAIL, $data) }" class="btn btn-default">Upload Image</button></td>
                </tr>
            </tbody>
        </table>
    </div>
</div>