@model Account.Manage.IndexViewModel
@inject UserManager<ApplicationUser> UserManager
@using System.Security.Claims

@{
    ViewData["Title"] = "Manage your account";
}

@section headerSection {
    <header>
        <div class="container">
            <h2 id="about">@ViewData["Title"]</h2>
            <p>@ViewData["Subtitle"]</p>
        </div>
    </header>
}

<p class="text-success">@ViewData["StatusMessage"]</p>
<div class="row">
    <div class="col-md-12">
        <h4>About You</h4>
        <p>These details are part of your <em>public profile</em>, which may be displayed on leaderboards.</p>
        <div class="row">
            <div class="col-md-2"><label>Organisations</label></div>
            <div class="col-md-10">@foreach (var group in Model.Profile.Groups) { <span>@group</span> }</div>
        </div>
        <div class="row">
            <div class="col-md-2"><label>Name</label></div>
            <div class="col-md-10">
                <p>@Model.Profile.Title @Model.Profile.FirstName @Model.Profile.LastName</p>
                <a href="/Account/Manage/Profile">Change Public Profile</a>
            </div>
        </div>
    </div>
</div>
<hr />
<div class="row">
    <div class="col-md-12">
        <h4>Logging In</h4>
        <p>The Global Pollen Project allows you to log in using a password set with us, or using an external account such as Twitter or Facebook.</p>
        <div class="row">
            <div class="col-md-2">
                <label>User Name</label>
            </div>
            <div class="col-md-10">
                @UserManager.GetUserName(User)
            </div>
        </div>
        <div class="row">
            <div class="col-md-2">
                <label>Password</label>
            </div>
            <div class="col-md-10">
                @if (Model.HasPassword)
            {
                    <p><a href="/Account/Manage/ChangePassword">Change your password</a></p>
                }
                else
                {
                    <p>You do not currently have a local password. You can <a href="/Account/Manage/SetPassword">create</a> one now</p>
                }
            </div>
        </div>
        <div class="row">
            <div class="col-md-2">
                <label>External Logins</label>
            </div>
            <div class="col-md-10">
                @if (Model.Logins.Length == 0)
                {
                    <p>None</p>
                }
                else
                {
                    <p>@Model.Logins.Length</p>
                }
                <p><a href="/Account/Manage/ManageLogins">Manage external logins</a></p>
            </div>
        </div>
    </div>
</div>
<hr />
<div class="row">
    <div class="col-md-12">
        <h4>Your Access Level</h4>
        <div class="row">
            <div class="col-md-2">
                <label>Are you a curator?</label>
            </div>
            <div class="col-md-10">
                @if (User.IsInRole("Curator")) { <p>Yes</p> }
                else { <p>No</p> }
            </div>
        </div>
    </div>
</div>